<!--<div layout="row" layout-fill ng-keypress="($event.which === 13) ? vm.login() : 0">
    <div flex-gt-md="70" flex-md="60" flex-sm="0" flex="0" layout-fill class="image-area"></div>
    <div flex-gt-md="30" flex-md="40" flex-sm="100" flex="100" layout-fill class="input-area">
        <div layout="column" class="md-padding layout-fill">
            <div class="logo"></div>
            <div layout="row">
                <md-icon flex="initial" md-font-icon="material-icons">person</md-icon>
                <md-input-container flex class="md-block">
                    <label>Username</label>
                    <input ng-model="vm.user.username" type="text" autocomplete="off" autocorrect="off" autocapitalize="none" name="{{vm.fieldNameUsername}}">
                </md-input-container>
            </div>
            <div layout="row">
                <md-icon flex="initial" md-font-icon="material-icons">lock</md-icon>
                <md-input-container flex class="md-block md-input-has-value">
                    <label>Password</label>
                    <input ng-model="vm.user.password" type="password" autocomplete="off" name="{{vm.fieldNamePassword}}">
                </md-input-container>
            </div>
            <div layout="row" class="margin-top-16">
                <div flex layout="row" layout-align="end center" class="login-button">
                    <md-button class="button button-login" ng-click="login(vm.user)">Login</md-button>
                </div>
            </div>
            <p class="login-error md-shake-error" ng-if="vm.message">{{vm.message}}</p>
            <div layout="row" layout-align="start end" class="login-copyright">
                <p class="margin-bottom-0">© Copyright Vert - All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>-->

<form name="vm.captureRecruitment" class="layout-fill">
    <md-content class="main-content md-padding page-content transparent" layout="column" layout-align="center center" layout-fill>

        <div layout="row">

            <div layout-md="column">
                <div flex layout="column" style="min-width: 500px">
                    <!-- Left Col -->

                    <div flex layout="row" layout-align="center center" class="margin-bottom-32">
                        <img src="assets/img/error.png" height="125" />
                    </div>

                    <div layout="row">
                        <md-icon flex="initial" style="margin: 34px 8px 0px 0px;">person</md-icon>
                        <md-input-container flex class="md-block">
                            <label>Username</label>
                            <input ng-model="vm.login.username" type="email" required name="positionTitle" />
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-icon flex="initial" style="margin: 32px 8px 0px 0px;">lock</md-icon>
                        <md-input-container flex class="md-block">
                            <label>Password</label>
                            <input ng-model="vm.login.password" type="password" required name="positionTitle" ng-pattern="/^[a-zA-Z0-9\s]*$/" />
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" class="margin-top-16">
                    <div flex layout="row" layout-align="end center" class="md-login-button">
                        <md-button class="md-primary md-primary-custom" ng-click="login(vm.login)">Login</md-button>
                    </div>
                </div>
                <p class="login-error md-shake-error" style="color:white;font-size:small" ng-if="vm.message">{{vm.message}}</p>
            </div>

        </div>

    </md-content>
</form>