<dir-page-header heading="vm.heading"
                 icon="vm.icon"
                 show-search="false">
</dir-page-header>

<md-content class="main-content md-fade-in md-padding page-content transparent">
    <md-content class="box-shadow">
        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange" class="color-blue color-medium-grey">
                    <tr>
                        <th name="Username"></th>
                        <th name="Display Name"></th>
                        <th name="User Type"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.users" class="hover">
                        <td>{{user.username}}</td>
                        <td ng-if="user.userTypeId != '3'">{{user.displayName}}</td>
                        <td ng-if="user.userTypeId == '3'">{{user.businessName}}</td>

                        <td ng-if="user.userTypeId == '1'">Admin</td>
                        <td ng-if="user.userTypeId == '2'">Normal User</td>
                        <td ng-if="user.userTypeId == '3'">Business</td>
                        <!--<td>
                            <md-button class="md-icon-button" ng-click="vm.view(faq)">
                                <md-icon md-font-icon="material-icons" class="md-font material-icons">eye</md-icon>
                            </md-button>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
        <md-data-table-container>
            <md-data-table-pagination class="margin-bottom-16" md-limit="vm.pagenation.limit" md-page="vm.pagenation.page" md-total="{{vm.users.length}}"></md-data-table-pagination>
        </md-data-table-container>
    </md-content>
</md-content>