<md-dialog ng-cloak class="large">
    <md-toolbar class="color-blue md-title-header-bar" style="width:100%!important">
        <div class="md-toolbar-tools">
            <h2 ng-if="isEdit == false">New</h2>
            <h2 ng-if="isEdit == true">Edit</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModal()">
                <md-icon md-font-icon="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="faqForm">
            <div layout-gt-md="row" layout-md="column">
                <div flex>                    
                    <md-input-container class="md-block">
                        <label>Question</label>
                        <input ng-model="faq.question" required name="question" />
                        <div ng-messages="faqForm.question.$error" ng-if="faqForm.question.$dirty || formSubmitted">
                            <div ng-message="required">The field above is required</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Answer</label>
                        <input ng-model="faq.answer" required name="answer"/>
                        <div ng-messages="faqForm.answer.$error" ng-if="faqForm.answer.$dirty || formSubmitted">
                            <div ng-message="required">The field above is required</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </form>
        <md-content class="md-padding">
            <div layout="row">
                <div flex="50" layout="column" layout-align="start start">
                    <md-button class="md-primary md-primary-custom" ng-click="closeModal()">Cancel</md-button>
                </div>
                <div flex="50" layout="row" layout-align="end end">
                    <md-button class="md-primary md-primary-custom" ng-if="isEdit == false" ng-click="create(faq)">Add</md-button>
                    <md-button class="md-primary md-primary-custom" ng-if="isEdit == true" ng-click="Update(faq)">Update</md-button>
                </div>
            </div>
        </md-content>
    </md-content>
</md-dialog>